# Site Configuration
SITE_URL=https://esperancem.fr

# PocketBase Configuration
PB_URL=https://api.esperancem.fr
PB_TOKEN=your_pocketbase_admin_token

# Security Secrets
REVALIDATE_SECRET=H9HKyb3wgxvuikh2lKOcazP3neH214H2YCmBPqTA3t2nbyQjlSVXKjYcwsatNjS

# Google Site Verification
GOOGLE_SITE_VERIFICATION=your_verification_code 